* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside {
    height: calc(100vh - 100px);
    flex: 0 0 40px;
    flex-direction: column;
    display: flex;
    background-color: black;
    color: lightgrey;
}

/******** LOGO ********/
#logo {
    display: flex;
    align-items: center;
}

#logo a {
    font-size: 45px;
    color: white;
}

#logo img {
    width: 70%;
    margin-bottom: 20px;
    color: white;
    display: none;
}


/******* LEFT NAV *******/
aside .left-nav span {
    display: none;
}

aside .left-nav li {
    border-left: 3px solid transparent;
}

aside .left-nav li.active {
    border-color: green;
}

.icon-box {
    flex: 1;
    overflow-y: auto;
}

.icon-box li a {
    color:#BFB5B5;
    opacity: 0.7;
    padding-left: 25px;
    list-style: none;
    text-decoration: none;
}
.icon-box ul li {
    margin-bottom: 15px;
}
.icon-box ul span {
    margin-left: 10px;
}

.icon-box, #logo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.icon-box .active i,
.icon-box .active span {
    color: white;
}

.playlist {
    display: none;
    font-size: 12px;
}
.playlist h4 {
    font-size: 14px;
    padding-left: 25px;
}
.playlist ul {
    list-style: none;
    margin-top: 10px;
}
.playlist ul li .far {
    font-size: 25px;
    background-color: lightgrey;
    color: black;
}
.playlist ul li a {
    text-decoration: none;
}

.bottom-aside {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
    margin-bottom: 15px;
}


.bottom-aside span {
    padding-left: 8px;
    display: none;
}

.install i {
    margin-bottom: 8px;
    font-size: 15px;
}

.user {
    margin-top: 10px;
    font-size: 20px;
}

aside li a:hover {
    color: white;
    cursor: pointer;
}

.cr {
    flex: 1;
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 80px;
    background-color: #181512;
    padding: 15px;
}

.top-bar button {
    color: white;
    background-color:  #181512;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    transition: transform 300ms;
}

.top-bar button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

main {
    flex: 1;
    overflow-y: auto;
    /* background-image: linear-gradient(45deg, #667eea 0%, #764ba2 100%); */
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

/***************************/
/******* TOP MAIN **********/
.top-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.top-main ul {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
}

.top-main li {
    margin: 25px;
}

.top-main a {
    display: block;
    color: #BFB5B5;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.top-main .active a::before {
    content: "";
    width: 25px;
    height: 3px;
    background: purple;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.top-main a:hover {
    color: white;
}

/* Main tracks */
.played, .may-like {
    color: white;
    margin: 10px;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.track {
    padding: 10px;
    flex: 0 0 230px;
    /* flex: 0 0 50%; */
}

.track-img img {
    width: 100%;
    height: 200px;
    
}

.track-img {
    position: relative;
    
}

.overlay {
    display: none;
}

.track-img:hover .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: whitesmoke;
}

.track-txt {
    margin-top: 8px;
    text-align: center;
    color: #BFB5B5;
}

.may-like {
    padding-bottom: 80px;
}

.player {
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:#191616;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #BFB5B5;

}

.player-left {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 25px;
    color: #BFB5B5;
    opacity: 0.8;
}

.now-playing-img img {
    width: 60px;
}

.now-playing-txt {
    padding-left: 15px;
}

.now-playing-icon-heart {
    padding-left: 35px;
}

.now-playing-icon-folder {
    padding-left: 15px;
}

.player-center {
    display: flex;
    flex: 4 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #BFB5B5;
    opacity: 0.8;
    font-size: 20px;
}

.player-center .icons {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.player-center .icons i {
    padding-left: 8px;
    padding-right: 8px;
}

.progressive-bar {
    display: inline-block;
    width: 50%;
    height: 4px;
    border-radius: 4px;
    background-color: grey;
    position: relative;
}

.my-progress {
    display: inline-block;
    width: 30%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    left: 0;
}

.timing {
    width: 100%;
    text-align: center;
}

.timing span {
    padding: 4px;
    font-size: 14px;
}

.player-right {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #BFB5B5;
    opacity: 0.8;
}

.options i,
.now-playing-icon-progressive {
    margin-right: 10px;
}

.now-playing-icon-progressive {
    display: inline-block;
    width: 50%;
    height: 4px;
    border-radius: 4px;
    background-color: grey;
    position: relative;
}

.my-progress-1 {
    display: inline-block;
    width: 30%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    left: 0;
}